@charset "utf-8";
/* CSS Document */

body {
	background-color: #fff;

}

.title {
	font-family:'roboto', sans-serif;
	font-size:20px;		
	color:#fff;
	font-style:italic;
	text-shadow: 1px 1px #e5a61b;
}

.card  { 	
	background-image: url(https://imgur.com/pvs86Gl.png);
	width: 600px;
	height: 600px;
position: relative;
    bottom: 100px;
}

.card:hover  { 	
	background-image: url(https://imgur.com/qZR4kKo.png);
	width: 600px;
	height: 600px;

    bottom: 100px;
}

.port  { 	
	background-image: url(https://imgur.com/zbTYnvk.png);
	width: 600px;
	height: 400px;
position: relative;
    bottom: 150px;
}


.porttext {
	font-family:'roboto', sans-serif;
	font-size:13px;		
	color:#020202;
	padding-top:40px;
	padding-left:35px;
	
	text-align:left;
	text-shadow: 1px 1px #e5a61b;
	}

.portlinks {
	font-family:'roboto', sans-serif;
	font-size:12px;		
	color:#020202;
	padding-top:5px;
	padding-left:35px;
	padding-bottom: 10px;
	text-align:left;
	
	}




.blank  { 	
	width: 600px;
	height: 600px;
position: relative;
	
    bottom: 100px;
}

.blankh1 {
	font-family:'roboto', sans-serif;
	font-size:25px;		
	color:#020202;
	padding-top:40px;
	padding-left:35px;
	padding-bottom: 10px;
	text-align:left;
	
	text-shadow: 1px 1px #e5a61b;
	font-style:italic;
}

.blanktext {
	font-family:'roboto', sans-serif;
	font-size:12px;		
	color:#020202;
	padding-top:25px;
	padding-left:35px;
	padding-bottom: 10px;
	text-align:left;
	
	}

.credit {
	font-family:'roboto', sans-serif;
	font-size:9px;	
	color:#020202;
	padding-top:25px;
	padding-left:0px;
	padding-bottom: 10px;
	text-align:left;
	text-shadow: 1px 1px #e5a61b;
	font-style:italic;}
	
}

.card:hover  { 	
	background-image: url(https://imgur.com/qZR4kKo.png);
	width: 600px;
	height: 600px;

    bottom: 100px;
}

.about  { 	
	background-image: url(https://i.imgur.com/zlrZHZT.png);
	width: 195px;
	position:relative;
	top:auto;
	right:245px;
	height: 60px;

}

.aboutalt  { 	
	background-image: url(https://i.imgur.com/ItzFiXv.png);
	width: 195px;
	position:relative;
	top:auto;
	right:245px;
	height: 60px;

}

.design  { 	
	background-image: url(https://imgur.com/gcVq0qR.png);
	width: 290px;
	height: 60px;
position:relative;
	top:-60px;
	left:5px;
}

.designalt	  { 	
	background-image: url(https://imgur.com/MOL8hIy.png);
	width: 290px;
	height: 60px;
position:relative;
	top:-60px;
	left:5px;
}

.music  { 	
	background-image: url(https://imgur.com/cKn6Yrw.png);
	width: 178px;
	height: 60px;
position:relative;
	top:-120px;
	left:242px;
}

.musicalt  { 	
	background-image: url(https://imgur.com/lXISq41.png);
	width: 178px;
	height: 60px;
position:relative;
	top:-120px;
	left:242px;
}

a:hover {
    color: #e5a61b;
}
 a:visited, a:active {
    text-decoration: none;
    color: inherit;
}


.breakfromtoronto {
	font-size: 80px;

	
}

.breakfromtorontoalt {
	font-size: 80px;
	color:#e5a61b;
	
}


::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background-color: transparent }
::-webkit-scrollbar-thumb { background-color: #222; }

a:-webkit-any-link {
    color:inherit;
    cursor: auto;
    text-decoration: none;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #020202;
  text-align: center;
}




#menubar{


}

.menucontainer{
background: #fff;
border-style: solid;
float:left;
height:200px;
position:relative;
	transform: rotate(90deg);
	transform-origin: left top 0;

bottom:0;
width:200px;
text-align: justify;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
!0A}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 800px;
height:44px;
    background-color: #fff;
font-family: 'lato';

	transform: rotate(360deg);
	transform-origin: left top 0;
font-weight:bold;
font-size: 12px;
    color: #0c0c0c;
    text-align: center;
    padding: 4px 0;
	text-shadow: 1px 1px #e5a61b;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
   bottom: -30px;
    left: 120%; 
    margin-left:-3px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}.


.sun { display: none;}

#sun {
  content: '\2600';
  display: inline;
  text-decoration: none;
}